body{
	background-image: url(../pictures/0101.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%
}

.button{
	background-color: #63192f;
	border: none;
	color: #f2f2f2;
	padding: 40px 57px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 8px 5px;
	cursor: pointer;
}

.button2{
	background-color: #d8d6d7;
}